html, body, #app {
  height: 100%;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border: 1px solid silver;
}



td {
  padding: 2px 5px;
}

thead tr {
	background-color: #5fb5ff;
}

tbody tr:nth-child(odd) {
	background-color: silver;
}

ul li {
	list-style: none;
    display: inline-block;
    border: 1px solid #969696;
    border-collapse: collapse;
    padding: 2px 10px;
}
